.bg-imgd {
    /* The image used */
    background-image: url("https://i.pinimg.com/474x/ad/48/b4/ad48b4e56ff7cf19789964a0119cbcfd.jpg");
  
    min-height: 350px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }