.bg-imgs {
    /* The image used */
    background-image: url("https://as2.ftcdn.net/v2/jpg/03/10/40/41/1000_F_310404162_SoQ3pGc5ctHO3B40f3YM2tnwWrV4XFlq.jpg");
  
    min-height: 350px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }


/* register page css */
.bg-img1 {
  /* The image used */
  background-image: url("https://as1.ftcdn.net/v2/jpg/03/04/16/44/1000_F_304164493_cMacxJqpusSO5szDmSjNXjYoPxot6LqZ.jpg");

  min-height: 350px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}